@charset "UTF-8";
/* CSS Document */

body {
  padding: 2em 0 0 0;
  background: #000 url('sgsbimages/BG.jpg');
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

header, nav, article, footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header, #header {
  height: 200px;
  width: auto;
  text-align: center;
}

nav, #nav {
  background: #E0E0E0;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav .navbar {
  margin-bottom: 0;
  border-radius: 15px;
}

article {
  height: auto;
  border-radius: 0 0 5px 5px;
  background: #E0E0E0;
  color: #000;
}

#content {
  padding: 1em 5px;
}

footer, #footer {
  padding: .5em 0 0 .5em;
  clear: both;
  text-align: center;
  color: #FFF;
  font-size: 12px;
}

footer p, #footer p {
  color: #FFF;
  font-size: 12px;
}

#event {
  padding: 10px 32px;
}

#left {
  width: 550px;
  float: left;
  padding: 35px;
}

#right {
  padding-top: 35px;
  margin-left: 550px; /* Change this to whatever the width of your left column is*/
}

p {
  font-size: 14px;
  font-color: #000;
  color: #000;
}

.center {
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.left {
  float: left;
  width: 250px;
}

.right {
  float: right;
  width: inherit;
}

article #content #about .headshot {
  width: 30%;
  float: left;
  height: 300px;
}

article #content #about .caption {
  width: 600px;
  height: 300px;
}
